a {
    white-space: nowrap;
}

#all-lists-headline {
    color: white;
    text-align: center;
}

#all-lists-main{
    display: block;
}

.popover {
    height: 200px;
    width: 200px;
}

.form {
    width: 400px;
}

.form-control {
    width: 400px;
    text-align: center;
}

@media (max-width: 600px) {
    .form-control {
        width: 350px;
    }
}

@media (max-width: 540px) {
    .form-control {
        width: 200px;
    }
}

#footer-bar {
    align-items: center;
    background-color: #272627;
    display: flex;
    justify-content: end;
    width: 100%;
    height: 40px;
    padding-right: 150px;
}

.homepage-btn {
    border-color: white;
    border-radius: 15px;
    border-style: solid;
    border-width: 3px;
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 60px;
    margin: 20px;
}

#homepage-btn-div {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-top: 50px;
}

#homepage-log-btn {
    color: white;
    background-color: #10486d;
}

#homepage-sign-btn {
    background-color: white;
    color: #10486d;
}

#homepage-text {
    color: white;
    font-size: 30px;
    margin-top: 50px;
    text-align: center;
}

@media (max-width:369px) {
    #homepage-text {
        font-size: 20px;
    }
}

#homepage-title, #new-user-h1, #log-in-h1, #name-list-h1 {
    color: white;
    font-size: 80px;
    text-align: center;
}


@media (max-width:369px) {
    #homepage-title {
        font-size: 60px;
    }
}

#homepage-div {
    background-color: #10486d;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
}

@media (max-width: 450px) {
    #homepage-div {
        padding: 0;
    }
}

html, body {
    background-color: #17669a;
}

.list-card {
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
    height: 200px;
    width: 300px;
    justify-content: center;
    margin: 10px;
    text-align: center;
}

#list-card-holder {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    min-height: calc(100vh - 200px);
    padding: 80px;
}

#list-item-bar {
    align-items: center;
    background-color: #272627;
    display: flex;
    justify-content: center;
    height: 80px;
    width: 100%;
}

.list-name {
    font-size: 20px;
    color: white;
    text-align: center;
}

#list-name-bar {
    align-items: center;
    background-color: #10486d;
    display: flex;
    height: 80px;
    width: 100%;
    padding: 0 50px;
}


main {
    align-items: center;
    display: flex;
    width: 100%;
    min-height: calc(100vh - 80px);
}



nav {
    align-items: center;
    display: flex;
    flex: 1 1 50%;
    gap: 50px;
    justify-content: end;
}

.nav-link {
    color: white;
}

#new-list-main {
    align-items: start;
    background-color: white;
    display: block;
}


#new-user-div, #log-in-div, #name-list-div {
    display: flex;
    background-color: #10486d;
    flex-direction: column;
    width: 100%;
    padding-top: 30px;
    padding-bottom: 20px;
    align-items: center;
    text-align: center;
}

#tasks-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    height: calc(100vh - 240px);
    padding-top: 30px;
    width: 100%;
}

#top-bar {
    align-items: center;
    display: flex;
    background-color: #272627;
    flex-wrap: wrap;
    height: 40px;
    width: 100%;
    padding: 0 150px;
}

@media (max-width: 992px) {
    #top-bar {
        padding: 0 100px;
    }
}

@media (max-width:768px) {
    #top-bar {
        padding: 0 50px;
    }
}

@media (max-width:469px) {
    #top-bar {
        padding: 0 10px;
    }
}

#save-button {
    border-radius: 10px;
    flex-shrink: 0;
    margin-left: auto;
    height: 40px;
    width: 80px;
}

.task-div, .task-complete-div, .task-important-div{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    border-color: black;
    border-style: solid;
    border-width: 5px;
    display: flex;
    width: 60%;
    min-height: 200px;
    justify-content: center;
    margin: 30px 0;
}

#top-bar-email {
    color: white;
}

#top-bar-title {
    align-items: center;
    display: flex;
    flex: 1 1 50%;
    justify-content: start;
    color: white;
}

#username-div {
    display: flex;
    align-items: center;
    height: 40px;
}

i.bi-card-checklist {
    color: white;
    font-size: 1.75rem !important;
    line-height: 1;
    margin-right: 10px;
}

i.bi-check {
    font-size: 2.5rem;
    line-height: 1;
    color: rgb(209, 203, 203);
}


i.bi-check:hover{
    color: #10486d;
}

i.bi-check-complete {
    color: #10486d
}

i.bi-exclamation-circle {
    color: rgb(209, 203, 203);
    font-size: 1.75rem;
    line-height: 1;
}

i.bi-exclamation-circle:hover {
    color: red;
}

i.important {
    color: red;
}

i.important-done {
    color: #10486d;
}

i.bi-trash3 {
    color: black;
    line-height: 1;
}


i.bi-pencil-square {
    color: black;
    line-height: 1;
    margin: 10px;
}

i.name-pencil {
    color: white;
    line-height: 1;
    margin: 10px;
}

.task-button {
    align-items: center;
    border: none;
    display: flex;
    border-width: 1;
    background-color: white;
    justify-content: center;
    padding: 0;
}

.sortable-placeholder {
    background: #f0f0f0; /* Light background */
    border: 1px dashed #ccc; /* Dashed border */
    height: 50px; /* Match .task-div height */
    margin: 5px 0; /* Match .task-div margins */
    opacity: 0.5; /* Slight transparency */
