{% include 'header.html' %} {% from "bootstrap5/form.html" import render_form %}

<main id="new-list-main">
    <div id="list-name-bar">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endwith %}

        <p class="list-name">{{ list.list_name }} <a href="{{ url_for('name_list', rename='rename', url_id=list.list_url_id) }}"><i class="bi bi-pencil-square name-pencil"></i></a></p>
        <div id="save-share-btn-div">
            <button type="button" class="btn btn-secondary" id="share-btn" data-bs-container="body" data-bs-toggle="popover" data-bs-placement="bottom" data-bs-content="<p class='share-p'>Share this link:</p>
                <p class='share-url'>{{ current_url }}</p>"
                >Share
            </button>
            <button type="button" id="save-button" onclick="window.location.href='{{ url_for('save_list', new_list=False) }}'">Save</button>
        </div>


    </div>
    <div id="list-item-bar">
        {{ render_form(item_form, novalidate=True) }}
    </div>

    <div id="tasks-container" class="sortable">

        {% for task in tasks|selectattr('importance', 'equalto', True) %}
            {% if not task['finished'] %}
                <div class="task-important-div" data-order="{{ task['order_num'] }}">

                    <p class="task-name">{{ task['task'] }}</p>
                    <div class="task-button-div">
                        <button type="button" class="task-button" onclick="window.location.href='{{ url_for('mark_as_completed', task_index=tasks.index(task)) }}'" ><i class="bi bi-check"></i></button>
                        <button type="button" class="task-button" onclick="window.location.href='{{ url_for('change_importance', task_index=tasks.index(task)) }}'"><i class="bi bi-exclamation-circle important"></i></button>
                        <button type="button" class="task-button" onclick="window.location.href='{{ url_for('delete_task', new_list=False, task_index=tasks.index(task)) }}'"><i class="bi bi-trash3 task-trash"></i></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% for task in tasks|selectattr('finished', 'equalto', False) %}
            {% if task['importance'] == False %}
                <div class="task-div" data-order="{{ task['order_num'] }}">
                    <p class="task-name">{{ task['task'] }}</p>
                    <div class="task-button-div">
                        <button type="button" class="task-button" onclick="window.location.href='{{ url_for('mark_as_completed', task_index=tasks.index(task)) }}'" ><i class="bi bi-check"></i></button>
                        <button type="button" class="task-button" onclick="window.location.href='{{ url_for('change_importance', task_index=tasks.index(task)) }}'"><i class="bi bi-exclamation-circle"></i></button>
                        <button type="button" class="task-button" onclick="window.location.href='{{ url_for('delete_task', new_list=False, task_index=tasks.index(task)) }}'"><i class="bi bi-trash3 task-trash"></i></button>
                    </div>
                </div>
            {% endif %}
        {% endfor %}

        {% set finished_tasks = tasks|selectattr('finished', 'equalto', True) %}
        {% set copy_finished_tasks = tasks|selectattr('finished', 'equalto', True) %}
        {% set important_finished = finished_tasks|selectattr('importance','equalto', True) %}
        {% set unimportant_finished = copy_finished_tasks|selectattr('importance','equalto', False) %}

        {% for task in important_finished %}
            <div class="task-complete-div" data-order="{{ task['order_num'] }}">

                <p class="task-name-done"><s>{{ task['task'] }}</s></p>
                <div class="task-button-div">
                    <button type="button" class="task-button" onclick="window.location.href='{{ url_for('mark_as_completed', task_index=tasks.index(task)) }}'" ><i class="bi bi-check bi-check-complete"></i></button>
                    <button type="button" class="task-button" onclick="window.location.href='{{ url_for('change_importance', task_index=tasks.index(task)) }}'"><i class="bi bi-exclamation-circle important-done"></i></button>
                    <button type="button" class="task-button" onclick="window.location.href='{{ url_for('delete_task', new_list=False, task_index=tasks.index(task)) }}'"><i class="bi bi-trash3 task-trash"></i></button>
                </div>
            </div>
        {% endfor %}

        {% for task in unimportant_finished %}
            <div class="task-complete-div" data-order="{{ task['order_num'] }}">
                <p class="task-name-done"><s>{{ task['task'] }}</s></p>
                <div class="task-button-div">
                    <button type="button" class="task-button" onclick="window.location.href='{{ url_for('mark_as_completed', task_index=tasks.index(task)) }}'" ><i class="bi bi-check bi-check-complete"></i></button>
                    <button type="button" class="task-button" onclick="window.location.href='{{ url_for('change_importance', task_index=tasks.index(task)) }}'"><i class="bi bi-exclamation-circle"></i></button>
                    <button type="button" class="task-button" onclick="window.location.href='{{ url_for('delete_task', new_list=False, task_index=tasks.index(task)) }}'"><i class="bi bi-trash3 task-trash"></i></button>
                </div>
            </div>
        {% endfor %}
    </div>
</main>

{% include 'footer.html' %}