{% include 'header.html' %} {% from "bootstrap5/form.html" import render_form %}

<main id="new-list-main">
    <div id="list-name-bar">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endwith %}

        <p class="list-name">{{ list.list_name }} <a href="{{ url_for('name_list', rename='rename', url_id=list.list_url_id) }}"><i class="bi bi-pencil-square name-pencil"></i></a></p>

        <button type="button" id="save-button" onclick="window.location.href='{{ url_for('save_list', new_list=False) }}'">Save</button>
    </div>
    <div id="list-item-bar">
        {{ render_form(item_form, novalidate=True) }}
    </div>

    <div id="tasks-container">
        {% for task in tasks|selectattr('finished', 'equalto', False) %}
            <div class="task-div">
                <button type="button" class="task-button" onclick="window.location.href='{{ url_for('mark_as_completed', task_index=tasks.index(task)) }}'" ><i class="bi bi-check"></i></button>
                <p>{{ task['task'] }}</p>
                <button type="button" class="task-button" onclick="window.location.href='{{ url_for('change_importance', task_index=tasks.index(task)) }}'"><i class="bi bi-exclamation-circle"></i></button>
                <button type="button" class="task-button" onclick="window.location.href='{{ url_for('delete_task', new_list=False, task_index=tasks.index(task)) }}'"><i class="bi bi-trash3"></i></button>
            </div>
        {% endfor %}

        {% for task in tasks|selectattr('finished', 'equalto', True) %}
            <div class="task-div">
                <button type="button" class="task-button" onclick="window.location.href='{{ url_for('mark_as_completed', task_index=tasks.index(task)) }}'" ><i class="bi bi-check bi-check-complete"></i></button>
                <p><s>{{ task['task'] }}</s></p>
                <button type="button" class="task-button" onclick="window.location.href='{{ url_for('change_importance', task_index=tasks.index(task)) }}'"><i class="bi bi-exclamation-circle"></i></button>
                <button type="button" class="task-button" onclick="window.location.href='{{ url_for('delete_task', new_list=False, tasks_index=tasks.index(task)) }}'"><i class="bi bi-trash3"></i></button>
            </div>
        {% endfor %}
    </div>
</main>

{% include 'footer.html' %}