        <footer>
            <div id="footer-bar">
                {% if current_user.is_authenticated %}
                <i class="bi bi-person-circle"></i>
                <span id="top-bar-email">{{ current_user.email }}</span>
                {% endif %}
            </div>
        </footer>
        {{ bootstrap.load_js() }}
        <script>
            document.addEventListener('DOMContentLoaded', function () {
                var popoverTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="popover"]'))
                var popoverList = popoverTriggerList.map(function (popoverTriggerEl) {
                return new bootstrap.Popover(popoverTriggerEl, {html: true, sanitize: false});
                });
               });
        </script>
    </body>
</html>