<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do Share</title>
    <!-- Bootstrap -->
    {{ bootstrap.load_css() }}
    <link rel="stylesheet" href="./static/css/styles.css">
</head>
<body>
    <header id="top-bar" class="container-fluid">
        <div id="nav-row" class="row">
            <div class="nav-title-container col-6">
                <span id="top-bar-title">To-Do Share</span>
            </div>
            <nav class="col-6">
                <a class="nav-link" href="">Log in</a>
                <a class="nav-link" href="">Sign up</a>
            </nav>
        </div>
    </header>
