{% include 'header.html' %}

<main>
    <div id="homepage-div">
        <h1 id="homepage-title">Welcome to To-Do Share</h1>
        <p id="homepage-text">Create, edit, save and share your own to-do lists! </p>
        <div id="homepage-btn-div">
        <button class="homepage-btn" id="homepage-sign-btn" onclick="window.location.href='{{ url_for('sign_up') }}'">Sign up</button>
        <button class="homepage-btn" id="homepage-log-btn" onclick="window.location.href='{{ url_for('log_in') }}'">Log in</button>
        </div>
    </div>
</main>

{% include 'footer.html' %}