{% include 'header.html' %} {% from "bootstrap5/form.html" import render_form %}

<main id="new-list-main">
    <div id="list-name-bar">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endwith %}

        <p class="list-name">{{ list_name }}</p>

        <button id="save-button" onclick="window.location.href='{{ url_for('save_list', new_list=True) }}'">Save</button>
    </div>
    <div id="list-item-bar">
        {{ render_form(item_form, novalidate=True) }}
    </div>

    <div id="tasks-container">
        {% for task in tasks %}
        <div class="task-div">
            <p>{{ task['task'] }}</p>
            <button type="button" onclick="window.location.href='{{ url_for('delete_task', new_list=True, task_index=tasks.index(task)) }}'"><i class="bi bi-trash3"></i></button>
        </div>
        {% endfor %}
    </div>
</main>

{% include 'footer.html' %}