{% include 'header.html' %} {% from "bootstrap5/form.html" import render_form %}

<main id="new-list-main">
    <div id="list-name-bar">
        {% with messages = get_flashed_messages() %}
        {% for message in messages %}
        <p class="flash">{{ message }}</p>
        {% endfor %}
        {% endwith %}

        {{ render_form(name_form, novalidate=True) }}

        <button id="save-button" onclick="window.location.href='{{ url_for('save_list') }}'">Save</button>
    </div>
    <div id="list-item-bar">
        {{ render_form(item_form, novalidate=True) }}
    </div>
</main>

{% include 'footer.html' %}